<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary" v-if="!isAuthLoading">
        <div class="card-header text-center">
            <router-link to="/" class="h1">
                <pf-image
                    src="/assets/img/altara_logo.png"
                    alt="Altara Logo"
                    class="brand-image"
                    height="55"
                    width="200"
                    style="opacity: 0.8"
                ></pf-image>
            </router-link>
        </div>
        <div class="card-body" v-if="verified">
            <p class="login-box-msg">Set Password</p>

            <form @submit.prevent="verifyEmail">
                <app-input
                    icon="lock"
                    class="mb-3"
                    type="password"
                    placeholder="password"
                    autocomplete="off"
                    v-model="password"
                />
                <app-input
                    icon="lock"
                    class="mb-3"
                    type="password"
                    placeholder="confirm password"
                    autocomplete="off"
                    v-model="confirmPassword"
                />

                <div>
                    <!-- /.col -->
                    <div>
                        <pf-button
                            type="submit"
                            :loading="loading"
                            @click="setPassword"
                            variant="secondary"
                        >
                            Save
                        </pf-button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <!-- /.social-auth-links -->
        </div>
        <div v-else>
            <div class="container-fluid p-5">
                <app-error
                    :msg="'email verification failed due to ' + errorMsg "
                ></app-error>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
